<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStr"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../Data/Grades.mdb;User Id=Admin;Persist Security Info=True;Jet OLEDB:Database Password=owenyang"></add>
  </connectionStrings>
</configuration>